<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enthos.ai</title>
  <link rel="stylesheet" href="style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body >
  <div>
  <div class=" h-screen inset-0 -z-10  bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
  <div class="h-screen bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]">
    <nav class="flex items-center justify-between px-32 py-6  text-black">
      <div class="text-lg font-semibold">
        <a href="#" class="text-3xl"><i class="ri-medium-fill"></i> Enthos.ai</a>
      </div>
      <div class="flex space-x-4">
        <a href="#contact" class="hover:text-gray-300 text-5xl"><i class="ri-equal-fill"></i></a>
      </div>
    </nav>
    <div class= "flex justify-center items-start flex-col z-50 h-5/6 px-24">
       
      <h1 class=" text-start font-semibold  md:text-base lg:text-8xl">The only scalable <span class="text-blue-800">API-first</span><br> leading and credit platform</h1>
      <p class="text-start py-5 font-semibold text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet  aut molestiae impedit distinctio, asperiores laboriosam  <br>sit tenetur expedita porro, id architecto ea, dignissimos blanditiis sequi fuga odio iste nihil mollitia.</p>
      <div class="flex gap-5">
       <a href="#" class="px-10 py-2 bg-blue-800 text-white font-semibold ">Analysis <i class="ri-arrow-right-line"></i></a>
       <a href="#" class="px-10 py-2 bg-black text-white font-semibold ">Enhance Resume</a>
      </div>
    </div>  

  </div>
</div> 
</div>




<div class="h-screen w-full flex justify-center items-center">
  <div class="w-2/5 h-3/4 bg-black overflow-hidden">
    <img class="w-full h-full object-cover" src="/src/image/page2.jpg" alt="Image">
  </div>
  <div class="flex flex-col items-start w-2/4 h-3/4 p-16 ">
    <h1 class="text-5xl font-semibold text-black ">We support your factory's digital tranformation thought product know-how , modular software, and AI  expetise</h1>
    <p class="py-10 text-gray-700 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minima quae, consectetur ab incidunt repellendus provident aliquam facere magni. Repellat hic maiores animi sequi rem, consectetur nesciunt sit ducimus tempore?</p>
    <div class="flex gap-5">
      <a href="#" class="px-10 py-2 bg-black text-white font-semibold ">About us <i class="ri-arrow-right-line"></i></a>
      <a href="#" class="px-10 py-2 bg-white text-black font-semibold border">Contect now</a>
     </div>
  </div>
  
</div>

<div class="h-2/4 px-24 py-12">
  <h1 class="text-5xl font-semibold text-gray-700 text-start">We support your factory's digital  tranformation <br> thought product  know-how , modular <br>software, and AI expetise Lorem ipsum dolorbr
     sit amet consectetur adipisicing elit. </h1>
</div>

<div class="bg-customwhite flex items-center justify-center p-20 ">
 
  <div class="text-6xl w-1/2 font-semibold tracking-tight ml-14"><p>Layerio Helps You <br> Increase Your Daily Productivity</p></div>
  <div class="w-1/2 flex flex-col items-start justify-center  text-xl font-semibold text-gray-900 relative "> <p> We are Focused On Creating Products, Services And <br> Processes That Are Not Only Innovative But Also With The <br> Hightes Standards Of Excelience</p>
    <a href="#" class="rounded-full  bg-black gap-x-4 px-1 py-1 pr-4 text-xl text-white shadow-sm mt-5 flex items-center justify-between"> <i class="ri-play-circle-fill text-5xl"></i> Get started</a></div>
</div>



  
  

</body>
</html>